<%= form_for [@course, @instructor, @course_material] do |f| %>
  <% if @course_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_material.errors.count, "error") %> prohibited this course_material from being saved:</h2>

      <ul>
      <% @course_material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
