<p id="notice"><%= notice %></p>

<strong> Page: </strong>
<%= link_to 'Home', '/' %> /
<%= link_to @course.name, course_path(@course) %> /
<%= link_to @instructor.full_name, course_instructor_path(@course, @instructor) %> /
Course Material Listing

<h1>Listing Course Materials</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_materials.each do |course_material| %>
      <tr>
        <td><%= course_material.title %></td>
        <td><%= course_material.description %></td>
        <td><img style="width: 150px;" src=<%= course_material.file.url %>/></td>
        <td><%= link_to 'Show', course_instructor_course_material_path(@course, @instructor, course_material) %></td>
        <td><%= link_to 'Edit', edit_course_instructor_course_material_path(@course, @instructor, course_material) %></td>
        <td><%= link_to 'Destroy', [@course, @instructor, course_material], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course material', new_course_instructor_course_material_path %>
