<strong> Page: </strong>
<%= link_to 'Home', '/' %> /
<%= link_to @course.name, course_path(@course) %> /
<%= link_to @instructor.full_name, course_instructor_path(@course, @instructor) %> /
New Course Material
<hr/>


<h1>New Course Material</h1>

<%= render 'form' %>

