<p id="notice"><%= notice %></p>

<strong> Page: </strong>
<%= link_to 'Home', '/' %> /
<%= link_to @course.name, course_path(@course) %> /
<%= link_to @instructor.full_name, course_instructor_path(@course, @instructor) %> /
<%= @course_material.title %>
<hr/>


<p>
  <strong>Title:</strong>
  <%= @course_material.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_material.description %>
</p>

<%= link_to 'Edit', edit_course_instructor_course_material_path(@course, @instructor, @course_material) %> |
<%= link_to 'Back', course_instructor_course_materials_path %>
