<p id="notice"><%= notice %></p>

<strong> Page: </strong>
<%= link_to 'Home', '/' %> /
<%= link_to @course.name, course_path(@course) %> / Instructor Listing

<hr/>

<h1>Listing Instructors</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.last_name %></td>
        <td><%= instructor.first_name %></td>
        <td><%= link_to 'Show', [@course, instructor] %></td>
        <td><%= link_to 'Edit', [:edit, @course, instructor] %></td>
        <td><%= link_to 'Destroy', [@course, instructor], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor', new_course_instructor_path(@course) %>
