<strong> Page: </strong>
<%= link_to 'Home', '/' %> /
<%= link_to @course.name, course_path(@course) %> / New Instructor
<hr/>

<h1>New Instructor</h1>


<%= render 'form' %>

<%= link_to 'Back', course_instructors_path(@course) %>
