<p id="notice"><%= notice %></p>

<strong> Page: </strong>
<%= link_to 'Home', '/' %> /
<%= link_to @course.name, course_path(@course) %> /
<%= @instructor.full_name %>

<hr/>

<p>
  <strong>Last name:</strong>
  <%= @instructor.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @instructor.first_name %>
</p>

<% course_mats=@course_instructor.course_materials %>
<strong>Course Materials (<%= course_mats.count %>) :</strong>

<% if course_mats.count > 0 %>
  <br/>
  <br/>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>File</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% course_mats.each do |course_material| %>
        <tr>
          <td><%= course_material.title %></td>
          <td><%= course_material.description %></td>
          <td><img style="width: 150px;" src=<%= course_material.file.url %>/></td>
          <td><%= link_to 'Show', course_instructor_course_material_path(@course, @instructor, course_material) %></td>
          <td><%= link_to 'Edit', edit_course_instructor_course_material_path(@course, @instructor, course_material) %></td>
          <td><%= link_to 'Destroy', [@course, @instructor, course_material], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br/>

<br/>

<br/>

<%= link_to 'Add New Course Material', new_course_instructor_course_material_path(@course, @instructor) %> |
<%= link_to 'Edit', edit_course_instructor_path(@course, @instructor) %> |
<%= link_to 'Back', course_instructors_path(@course) %>
