<p id="notice"><%= notice %></p>

<strong> Page: </strong>
<%= link_to 'Home', '/' %> /
<%= link_to @course.name, course_path(@course) %> /
<hr/>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Instructors:</strong>
  <table>
    <tbody>
    <% @course.instructors.each do |instructor| %>
      <tr>
        <td>
          <%= link_to instructor.last_name, [@course, instructor] %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Create Instructor', new_course_instructor_path(@course) %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
